header{
    background-color: #B2C0CC;
    padding: 10px;
}

body{
    background: #D8DFE8;
}

main{
    padding: 30px;
}

.textarea-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.textarea-cifrado {
    resize: none;
    height: 400px; /* Establece la altura deseada para textarea-cifrado */
    border-radius: 13px;
    outline: none;
    border: none;
    
  }

  
.textarea-escribir {
    resize: none;
    width: 500px; /* Establece la altura deseada para textarea-escribir */
    height: 300px;
    margin-right: 200px; /* Agrega espacio entre los textareas */
    background-color: #D8DFE8;
    border: none;
    outline: none;
  }

.botones{
    margin-left: 260px;
    padding: 20px;
}

.botones button {
    width: 200px; /* Ancho fijo para ambos botones */
    height: 30px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bold;
    border: solid 1px darkblue;
    border-radius: 10px;
    cursor: pointer;
  }

.botones button.button-cifrar {
    color: white;
    background-color: rgb(23, 23, 168);
}

.botones button.button-descifrar {
    color: darkblue;
    background-color: #D8DFE8;
}

.button-copiar{
    
    margin-left: 188px;
}


footer{
    background: #B2C0CC;
    color: white;
    text-align: center;
    padding: 31px;
    font-weight: bold;
    font-size: 14px;
}